.update-password {
    width: 80%;
}

.update-password .update-password-form {
    margin-top: 50px;
}

.update-password .form-group {
    margin-bottom: 20px;
}

.update-password .form-group label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    color: var(--light-white)
}

.update-password .form-group input {
    background-color: transparent;
    color: var(--dark);
}

.update-password .form-group input::-webkit-input-placeholder {
    color: #999;
}

.update-password .form-group input::-moz-placeholder {
    color: #999;
}

.update-password .form-group input:-ms-input-placeholder {
    color: #999;
}

.update-password .form-group input::-ms-input-placeholder {
    color: #999;
}

.update-password .form-group input::placeholder {
    color: #999;
}

.update-password span.span-icon {
    position: absolute;
    top: 43%;
    right: 15px;
    font-size: 20px;
    color: var(--dark);
    transform: translateY(-50%);
    cursor: pointer;
}

.update-password button {
    padding: 10px 25px;
    background-color: var(--pistach);
    color: #fff;
    border: none;
    border-radius: 25px;
}

/*====================================*/
/*===========Responsive===============*/
/*====================================*/

@media only screen and (max-width:768px) {

    .update-password {
        width: 100%;
    }

    .update-password .update-password-form {
        margin-top: 0;
    }

    .update-password button {
        margin-top: 10px !important;
    }

}