.admin {
    min-height: 100vh;
    margin: 30px 0 100px 0;
}

.admin-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    min-height: 100vh;
    margin: auto;
}

/* start admin nav */
.admin-content .admin-nav {
    overflow: auto;
}

.admin-content .admin-nav a.back-home {
    margin: 50px;
}

.admin-content .admin-nav a.back-home h5 {
    margin: 0;
}

.admin-content .admin-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.admin-content .admin-nav ul li {
    background-color: #222;
    width: calc(100% / 5);
    border-radius: 5px;
    overflow: hidden;
}

.admin-content .admin-nav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 10px;
    background-color: gray;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.admin-content .admin-nav ul li a.active {
    background-color: #cc8e35;
    color: #fff;
}

.admin-content .admin-nav ul li a svg {
    font-size: 20px;
}

/* end admin nav */

.admin-content .admin-main-sections {
    display: flex;
}

/* style tostify */
.Toastify__toast-body>div:last-child {
    font-size: 14px;
}

.Toastify__toast {
    padding: 7px !important;
}

.Toastify__toast-icon {
    width: 18px !important;
}

.Toastify__progress-bar {
    height: 4px !important;
}

/* start table style */
.admin-content .table-box {
    overflow: auto;
}

.admin-content table th,
.admin-content table td,
.admin-content table tr {
    background-color: transparent !important;
    color: var(--light-white);
}

.admin-content table tr {
    vertical-align: middle;
}

.admin-content table img {
    width: 45px;
    height: 45px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

/* end table style */

/* style all admin sections */
.admin-content .admin-main {
    width: 100%;
}

.admin-content .admin-main-sections {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 60px;
    border-bottom: 2px solid #ddd;
}

.admin-content .admin-main-sections .single-section {
    flex: 1;
    width: 200px;
    padding: 10px 20px;
    color: #000;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.admin-content .admin-main-sections .single-section h4 {
    font-size: 17px;
    color: var(--dark);
}

.admin-content .admin-main-sections .single-section a {
    display: block;
    text-decoration: none;
    padding: 0 10px 3px;
    margin-top: 10px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: var(--pistach);
    border-radius: 4px;
}

.admin-content .admin-main-sections .single-section .single-section-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.admin-content .admin-main-sections .single-section .single-section-top a {
    text-decoration: none;
    padding: 3px 10px;
    color: #fff;
    font-weight: 500;
    background-color: var(--pistach);
    border-radius: 5px;
    text-transform: capitalize;
    white-space: pre;
}

.admin-content .admin-main-sections .single-section .single-section-top span {
    width: 30px;
    height: 30px;
    background-color: #e16262;
    color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
}

.admin-content .admin-main-sections .single-section .single-section-top span svg {
    font-size: 20px;
}

.admin-content .admin-main .admin-add-category {
    width: 500px;
    padding: 25px;
    margin: 40px auto 0;
    color: #222;
    border: 2px solid #ddd;
    border-radius: 10px;
}

/* style recent user */
.admin-content .admin-main .recents {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.admin-content .admin-main .recents .recent-users h2,
.admin-content .admin-main .recents .recent-orders h2 {
    margin-top: 0;
    font-size: 15px;
    color: var(--dark);
}

.admin-content .admin-main .recents .recent-users {
    width: 380px;
}

.admin-content .admin-main .recents .recent-orders {
    width: calc(100% - 380px);
}

.admin-content .admin-main .recents .recent-users table,
.admin-content .admin-main .recents .recent-orders table {
    width: 100%;
}

.admin-content .admin-main .recents table thead {
    background-color: var(--light-teal);
}

.admin-content .admin-main .recents table thead th {
    color: #fff;
    font-weight: 400;
}

.admin-content .admin-main .recents table td,
.admin-content .admin-main .recents table tr th {
    font-size: 13px;
    font-weight: 400;
}

/* style add new product form modal */

form.product-form .upload-product-img {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

form.product-form .upload-product-img label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 140px;
    height: 85px;
    font-weight: 600;
    background-color: #ddd;
    color: #999;
    border: 2px dashed #999;
    background-clip: content-box;
    cursor: pointer;
}

form.product-form .upload-product-img svg {
    font-size: 50px;
}

form.product-form input,
form.product-form select,
form.product-form textarea {
    border: 1px solid #999;
    border-radius: 0;
}

form.product-form input::-webkit-input-placeholder,
form.product-form textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: #bebbbb;
}

form.product-form input::-moz-placeholder,
form.product-form textarea::-moz-placeholder {
    font-size: 14px;
    color: #bebbbb;
}

form.product-form input:-ms-input-placeholder,
form.product-form textarea:-ms-input-placeholder {
    font-size: 14px;
    color: #bebbbb;
}

form.product-form input::-ms-input-placeholder,
form.product-form textarea::-ms-input-placeholder {
    font-size: 14px;
    color: #bebbbb;
}

form.product-form input::placeholder,
form.product-form textarea::placeholder {
    font-size: 14px;
    color: #bebbbb;
}

form.product-form label {
    font-size: 14px;
    white-space: nowrap;
}

form.product-form .flex-inputs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px 0;
}

form.product-form .flex-inputs>div {
    flex: 1;
}

form.product-form button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    font-size: 14px;
    background-color: #252525;
    color: #fff;
    border: none;
}

.admin-order-details .my-table {
    width: 100%;
    overflow: auto;
}

.admin-order-details .status {
    display: flex;
    gap: 40px;
}

.admin-order-details .status .left,
.admin-order-details .status .right {
    flex: 1;
}

.admin-order-details .status ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.admin-order-details button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 34px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 2px;
}

/*====================================*/
/*===========Responsive===============*/
/*====================================*/

@media only screen and (max-width:576px) {

    .admin-content .admin-nav {
        margin: 90px 0 0px;
    }

    .admin-content .admin-nav ul {
        width: 160%;
        margin-bottom: 10px;
    }

    .admin-content .admin-nav ul li {
        width: calc(100% / 4);
    }

    .admin-content .admin-nav ul li a {
        font-size: 15px;
        justify-content: center;
    }

    .admin-content .admin-nav ul li a svg {
        display: none;
    }

    .admin-content .admin-nav ul li:first-child {
        display: none;
    }

    .admin-content .admin-main .recents {
        flex-direction: column;
    }

    .admin-content .admin-main .recents .recent-users,
    .admin-content .admin-main .recents .recent-orders {
        width: 100% !important;
    }

    .admin-content .admin-main-sections {
        padding-bottom: 30px;
    }

    .admin-content .table-box table {
        width: 200%;
    }

    .admin-order-details .my-table table {
        width: 500px;
    }

    .admin-order-details .status {
        gap: 20px;
        flex-direction: column;
    }

}

/* end 576px */

@media only screen and (min-width:576px) and (max-width: 1024px) {

    .admin-content .admin-nav ul li {
        width: calc(100% / 4);
    }

    .admin-content .admin-nav ul li a {
        font-size: 16px;
        justify-content: center;
    }

    .admin-content .admin-nav ul li a svg {
        display: none;
    }

    .admin-content .admin-main .recents {
        flex-direction: column;
    }

    .admin-content .admin-main .recents .recent-users,
    .admin-content .admin-main .recents .recent-orders {
        width: 100% !important;
    }

    .admin-content .admin-main-sections {
        padding-bottom: 30px;
    }

}